@import "common.css";
@import "header.css";
@import "submenu.css";
@import "content.css";
@import "wsp.css";
@import "footer.css";

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

main{
  margin: 20px auto;
}

.container-contacto {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
}

.container-contacto h1 {
  color: #39618b;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.2em;
  padding-bottom: 15px;
  border-bottom: 2px solid #39618b;
}

/* Estilos del Formulario */
.form-group {
  margin-bottom: 25px;
}

.container-contacto label {
  display: block;
  margin-bottom: 8px;
  color: #39618b;
  font-weight: bold;
  font-size: 1.1em;
}

.container-contacto
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: calc(100% - 20px);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.container-contacto
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #4b7aac;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.checkbox-group label {
  display: inline-block;
  margin-right: 15px;
  font-weight: normal;
}
.container-contacto
input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.1);
  /* Hace los checkboxes un poco más grandes */
}
.container-contacto
button {
  background-color: #345c86;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  display: block;
  margin-top: 30px;
}
.container-contacto
button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
.container-contacto 
button:active {
  transform: translateY(0);
}