@import "common.css";
footer {
    background: #2a394f;
    width: 100%;
    text-wrap: balance;
    padding: 20px 0;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    
}

.caja{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;  
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #dcdcdc;
  line-height: 1.5;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.link h3{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 2px solid #39618b;
    margin-bottom: 10px;
}

.link ul{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.link a {
    font-size: 16px;
    color: #dcdcdc;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px 0;
}

footer p{
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 20px;
}

@media(max-width:768px){
  .footer-content{
    flex-direction: column;
  }

  footer{
    font-family: 1.2rem;
  }
}