header{
    width: 100%;
}

.principal {
    background-color: #2a394f;
}

.menu-principal {  
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}

.logo {
    font-size: 25px;
    color: #15A4F9;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.3s;
}

.menu-principal .navbar ul{
    display: flex;
    gap: 20px;
    color: white;
}


.menu-principal .navbar ul li a {
    font-size: 18px;
    color: white;
}

.logo:hover{
    scale: 1.1;
}

.menu-principal .navbar ul li a:hover {
    color: #12A4F9;
}

@media(max-width:768px){
    .menu-principal{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}