.main {
    max-width: 1200px;
    margin: 0 auto;
}

/* -----slider-------- */

.slider-container {
    position: relative;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    /*350*/
    transition: tran1sform 0.5s ease-in-out;
}

.slide {
    cursor: pointer;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 10;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.prev-btn:hover,
.next-btn:hover {
    opacity: 1;
}

.prev-btn {
    left: 10px;
    border-radius: 5px 0 0 5px;
}

.next-btn {
    right: 10px;
    border-radius: 0 5px 5px 0;
}

/* ------------- */
.contenido-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
}

.contenido-txt h1 {
    font-size: 35px;
}

.contenido-txt p {
    font-size: 18px;
}

.contenido-txt h2 {
    font-size: 20px;
}

.btn-1 {
    display: inline-block;
    padding: 5px 25px;
    background-color: #35527d;
    color: white;
    border-radius: 5px;
    margin: 5px;
    transition: 0.3s;
}

.btn-1:hover{
    background-color: #0056b3;
    scale: 1.05;
}

/* ofertas */
.ofert {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.laptop-card {
    position: relative;
}
.icon-ofert{
  position: absolute;
  top: -70px;
  right: 10px;
  z-index: 10;
}

/* productos */

.products {
    text-align: center;
    margin: 0 20px; 
}

.products h2 a{
    color: #375d96;
}

.products h2 a:hover{
    color: #0056b3;
}

.product-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* marcas */

.icons {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 20px;
}

.icon-1 {
    flex: 1 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e7ef;
    margin: 0 auto;
    padding: 10px;
    gap: 15px;
    border-radius: 15px;
    padding: 0 40px;
}

.icon-img {
    width: 150px;
    font-size: 50px;
    margin: auto;
    text-align: center;
}

.icon-txt h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.icon-txt p {
    font-size: 16px;
}

/* blogs */

.blog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 20px;
}

.blog-1 {
    flex: 1 0 300px;
    max-width: 500px;
    margin: 0 auto;
}

.blog-1 img {
    margin-bottom: 20px;
}

.blog-1 h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p {
    font-size: 16px;
}
