.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

/* modal */

#modal {
    position: fixed;
    /* O absolute, dependiendo del layout */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo semi-transparente */
    display: flex;
    /* Para centrar el contenido */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Asegura que esté por encima de todo */
    flex-direction: column;
    /*centra el ifram y el boton*/
}

#modal iframe {
    width: 60%;
    height: 90%;
    border: none;
    /* Quita el borde del iframe */
}

#modal button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    /* Rojo para el botón de cerrar */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#contenido {
    display: none;
    padding: 20px;
    text-align: center;
}

#contenido h1 {
    color: #3859b4;
}

#contenido p {
    color: #f44336;
    line-height: 1.6;
}

/* -----slider-------- */
.carrusel {
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: wheat;
}

.imagenes {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta la imagen al contenedor */
    flex-shrink: 0;
    /* Evita que las imágenes se reduzcan */
    border-radius: 10px;
}

.boton {
    position: absolute;
    top: 50%;
    /* Centra verticalmente el botón */
    transform: translateY(-50%);
    /* Centra verticalmente el botón */
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    font-size: 32px;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.anterior {
    left: 10px;
    border-radius: 10px 0 0 10px;
}

.siguiente {
    right: 10px;
    border-radius: 0 10px 10px 0;
}

.puntos {
    position: absolute;
    bottom: 12px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 10px;
}

.puntos span {
    display: inline-block;
    /* Asegura que los puntos se muestren en línea */
    width: 10px;
    height: 10px;
    margin-right: 5px;
    /* Espacio entre puntos */
    background-color: gray;
    border-radius: 50%;
    opacity: 0.5;
    /* Opacidad para los puntos inactivos */
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.activo {
    background-color: black !important;
    /* Cambia el color del punto activo */
}

/* contenido */
.contenido-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px 0px;
    margin: 10px auto;
    max-width: 1200px;
}

.contenido-txt h1 {
    font-size: 40px;
    color: #35527d;
    text-transform: capitalize;
    margin-bottom: 10px;
    text-wrap: balance;
}

.contenido-txt p {
    font-size: 18px;
    color: #555;
    max-width: 800px;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    text-wrap: balance;
}

.contenido-txt h2 {
    font-size: 30px;
    color: #35527d;
    text-transform: capitalize;
    margin: 20px 0;
    text-wrap: balance;
}

.btn-1 {
    display: inline-block;
    padding: 15px 25px;
    background-color: #35527d;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-1:hover {
    background-color: #0056b3;
    scale: 1.05;
}

/* ofertas */

.ofert {
    max-width: 1200px;
    margin: 15px auto;
    padding: 0px;
    text-wrap: balance;

}

.laptop-card {
    position: relative;
}

.icon-ofert {
    position: absolute;
    top: -70px;
    right: 10px;
    z-index: 10;
}

/* productos */

.products {
    text-align: center;
}

.products h2 {
    font-size: 30px;
    color: #35527d;
    margin: 20px 0;
    text-transform: capitalize;
}

.products h2 a {
    color: #375d96;
}

.products h2 a:hover {
    color: #0056b3;
}

.product-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

/* marcas */
.main-content h2 {
    font-size: 30px;
    color: #35527d;
    text-transform: capitalize;
    margin: 20px 0;
    text-wrap: balance;
}

.icons {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.icon-1 {
    flex: 1 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e7ef;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.icon-img {
    width: 150px;
    font-size: 50px;
    color: #375d96;
    text-align: center;
}

.icon-txt h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.icon-txt p {
    font-size: 16px;
}

/* blogs */

.blog {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.blog-1 {
    flex: 1 0 calc(33.333% - 40px);
    /* Tres columnas en pantallas grandes */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: left;
    min-width: 300px;
    max-width: 500px;
}

.blog-1 img {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.blog-1 h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #35527d;
    text-wrap: balance;
}

.blog-1 p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
    text-wrap: balance;
}