@import "common.css";
@import "header.css";
@import "submenu.css";
@import "wsp.css";


body{
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.footer{
  width: 100% ;
  min-height: 191px;
  display: block;
  border: none;
}

.about-content {
            font-family: 'Segoe UI', sans-serif;
            color: #222;
            background: #f8f9fa;
            padding: 40px 20px;
            max-width: 1200px;
            margin: auto;
        }

        .about-hero {
            color: rgb(40, 100, 165);
            padding: 10px 10px;
            text-align: center;
            border-radius: 16px;
            }

        .about-hero h1 {
            font-size: 2.5rem;
        }

        .about-hero p {
            font-size: 1.3rem;
            font-weight: 300;
        }

        .about-info,
        .mision,
        .about-team,
        .about-location {
            margin-bottom: 40px;
        }

        .about-info p,
        .about-location p {
            font-size: 1.1rem;
            line-height: 1.6;
        }

        .mission-vision {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .mission-vision div {
            flex: 1;
            background: #ffffff;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }

        .mission-vision h3 {
            color: #1a73e8;
        }

        .team-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 20px;
        }

        .miembros {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 10px 15px rgba(66, 114, 237, 0.1);
        }

        .miembros h3 {
            margin-bottom: 5px;
            font-size: 1.2rem;
        }

        .miembros p {
            color: #555;
            font-size: 0.95rem;
        }