@import "common.css";
footer {
    background: #2a394f;
    width: 100%;
}

.caja{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.link h3{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

.link ul{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.link a {
    font-size: 16px;
    color: #dcdcdc;
}

footer p{
    text-align: center;
    color: white;
    padding-top: 20px;
}

@media(max-width:768px){
  .footer-content{
    flex-direction: column;
  }

  footer{
    font-family: 1.2rem;
  }
}